.search-bar {
  border-top: 1px solid #D1D5DB; 
  border-bottom: 1px solid #D1D5DB;
  background-color: #F9FAFB; 
  text-align: center;
}

.search-input-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9CA3AF; 
  padding: 8px 20px;
  margin: 20px 12px;
  border-radius: 9999px;
  width: 75%;
}

@media (min-width: 640px) {
  .search-input-container {
    width: 50%;
  }
}

.search-input {
  flex: 1;
  outline: none;
  background: inherit;
  font-size: 14px;
}

.search-icon {
  width: 16px;
}

.cross-icon {
  display: inline;
  width: 12px;
  cursor: pointer;
}
