.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 24rem;
  margin: 0 auto;
  margin-top: 3.5rem;
  gap: 1rem;
  color: #374151;
}

.login-header {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}

.login-title {
  font-family: "Prata", serif;
  font-size: 1.875rem;
}

.login-hr {
  border: none;
  height: 0.09375rem;
  width: 2rem;
  background-color: #374151;
}

.login-input {
  width: 100%;
  padding: 0.375rem 0.875rem;
  border: 1px solid #374151;
}

.login-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  margin-top: -0.5rem;
}

.login-link {
  cursor: pointer;
}

.login-button {
  background-color: #000;
  color: #fff;
  font-weight: 300;
  padding: 0.75rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
}

.login-button:active {
  background-color: #4b5563;
}
