.best-seller {
  margin: 40px 0;
}

.best-seller-title {
  text-align: center;
  font-size: 30px;
  padding: 32px 0;
}

.best-seller-description {
  width: 75%;
  margin: 0 auto;
  font-size: 12px;
  color: #4B5563; /* text-gray-600 */
}

@media (min-width: 640px) {
  .best-seller-description {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .best-seller-description {
    font-size: 16px;
  }
}

.best-seller-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  row-gap: 24px;
}

@media (min-width: 640px) {
  .best-seller-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .best-seller-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .best-seller-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
