.contact-title {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 2.5rem;
  border-top: 1px solid #e5e7eb;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  margin: 2.5rem 0;
  margin-bottom: 7rem;
}

@media (min-width: 768px) {
  .contact-content {
    flex-direction: row;
  }
}

.contact-image {
  width: 100%;
  max-width: 30rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}

.contact-store-title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #374151;
}

.contact-address {
  color: #6b7280;
}

.contact-phone {
  color: #6b7280;
}

.contact-careers-title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #374151;
}

.contact-careers-text {
  color: #6b7280;
}

.contact-button {
  border: 1px solid #000;
  padding: 1rem 2rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 0.5s;
}

.contact-button:hover {
  background-color: #000;
  color: #fff;
}
