@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

* {
  font-family: Outfit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding : 0 48px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

a.active hr {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width:640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
